.videoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoContainer .filter {
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
}

.videoMenu{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  padding: 20px;
  width: 100%;
  z-index: 150;

}

.controlBtn{
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.songinfo{
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 3px #000;
  max-width: 200px;
}

.lyricCont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.lyricCont .text span {
  display: block;
  text-align: center;
  text-shadow: 4px 4px 5px #000;
}

.subMenuCont{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  z-index: 150;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.back5, .front5{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back5 span, .front5 span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translateY(-15px);
}

.progressTimer{
  position: absolute;
  font-size: 15px;
  bottom: 25px;
  left: 10px;
  z-index: 150;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.progressCont{
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  z-index: 1050;
  background: #fff;
  opacity: .1;
  cursor: pointer;
}

.progress{
  width: 0%;
  height: 20px;
  background: white;
  z-index: 1000;
  position: absolute;
  bottom: 0;
}

.symbolAlert{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
  opacity: 0;
}

.symbolAlert i{
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.subLyrics{
  font-size: clamp(15px, 5.5vw, 30px);
  z-index: 200;
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  transform: translateY(-90px);
  bottom: 0;
}


.atemica {
  font-family: "Atemica";
}

.atemicaItalic {
  font-family: "AtemicaItalic";
}

.helvetica {
  font-family: Helvetica;
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.t-1 {
  font-size: clamp(15px, 5.5vw, 80px);
}

.t-2 {
  font-size: clamp(20px, 6.5vw, 150px);
}

.t-3 {
  font-size: clamp(22.5px, 7vw, 180px);
}

.t-4 {
  font-size: clamp(25px, 7.5vw, 200px);
}

.t-5 {
  font-size: clamp(30px, 8.5vw, 250px);
}

.t-6 {
  font-size: clamp(35px, 15vw, 300px);
}


@media (max-height:500px){
  .subLyrics{
    font-size: 20px;
    transform: translateY(-75px);
  }
}