@font-face {
  font-family: "Atemica";
  src: url("/atemica_sans/AtemicaSans_PERSONAL_USE_ONLY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AtemicaItalic";
  src: url("atemica_sans/AtemicaSansItalic_PERSONAL_USE_ONLY.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #000;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


